$blueColor : #364ECE;
// $blue2Color: #536DFC;
$blue2Color: #3ac1ff;
$greenColor: #20D49C;
$darkColor: #21232B;
$dark2Color: #273f5b;
$dark3Color: #0c0e23;

:root {
    --colorPrimary: $blue2Color
}
:root