@font-face {
    font-family: 'iransans';
    src: url('./../font/iransansfanum/woff2/IRANSansWeb\(FaNum\).woff2'),
        url('./../font/iransansfanum/woff/IRANSansWeb\(FaNum\).woff'),
        url('./../font/iransansfanum/ttf/IRANSansWeb\(FaNum\).ttf'),
        url('./../font/iransansfanum/eot/IRANSansWeb\(FaNum\).eot');
}
@font-face {
    font-family: 'iransans';
    font-weight: bold;
    src: url('./../font/iransansfanum/woff2/IRANSansWeb\(FaNum\)_Bold.woff2'),
        url('./../font/iransansfanum/woff/IRANSansWeb\(FaNum\)_Bold.woff'),
        url('./../font/iransansfanum/ttf/IRANSansWeb\(FaNum\)_Bold.ttf'),
        url('./../font/iransansfanum/eot/IRANSansWeb\(FaNum\)_Bold.eot');
}