.mystartup{
    position: relative;
    z-index: 1;
    h5{
        font-weight: bold;
        font-size: 2rem;
        
    }
    .mycustomers{
        img{
            width: 100%;
        }
    }
}